keybinds {
    unbind "Ctrl g"
    normal {
        bind "Ctrl z" { SwitchToMode "locked"; }
    }
    locked {
        bind "Ctrl z" { SwitchToMode "normal"; }
    }
    shared {
        bind "Alt n" { NewPane; }
        bind "Alt i" { MoveTab "Left"; }
        bind "Alt o" { MoveTab "Right"; }
        bind "Alt h" "Alt Left" { MoveFocusOrTab "Left"; }
        bind "Alt l" "Alt Right" { MoveFocusOrTab "Right"; }
        bind "Alt j" "Alt Down" { MoveFocus "Down"; }
        bind "Alt k" "Alt Up" { MoveFocus "Up"; }
        bind "Alt =" "Alt +" { Resize "Increase"; }
        bind "Alt -" { Resize "Decrease"; }
        bind "Alt [" { PreviousSwapLayout; }
        bind "Alt ]" { NextSwapLayout; }
    }
}

default-mode "locked"
simplified_ui true
pane_frames false
theme "catppuccin-mocha"
